*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:#0e1630;
}

.topnav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 5px;
    background: rgba(0,0,0,.1);
    backdrop-filter: blur(50px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    border-bottom: 2px solid white;
}


 .logo{
    height: 50px;
    width: 50px;
    float: left;
}

.navigation_Log{
    text-decoration: none;
    list-style:none;
	position:relative;
	margin:0;
	padding-right: 1px;
	display:flex;
	float:right;
	background-position: center;
}



.navigation_Log .LoginButton{
	position:relative;
	display: block;
	background:transparent;
	border:2px solid white;
	outline:none;
	padding: 8px 30px;
	margin: 10px 0;
	text-transform: uppercase;
	text-decoration:none;
	color: White;
	border-radius:10px;
	font-weight: bold;
	margin-top:12px;
	margin-left:20px;
	margin-right:5px;
	
}

.navigation_Log .LoginButton:hover{
	background:White;
	color:black;
}
 

.navbar a {
    font: 1rem sans-serif;
    color: white;
    text-decoration: none;
    font-weight: 500;
    text-transform: uppercase;
    padding: 10px 10px;
	margin: 100px 0;
    justify-content: center;
}

.navbar a:hover{
    background: white;
	color:black;
	border-radius:5px;
}

#menu-icon{
    font-size: 30px;
    padding-top: 15px;
    color: white;
    cursor: pointer;
    display: none;
}

/*BREAKPOINTS*/

@media (max-width:1000px) {
    .topnav{
        padding: 10px;
    }
}

@media (max-width:1050px) {
    #menu-icon{
        display: block;
    }

    .navbar{
        position: fixed;
        top: 100%;
        left: 0;
        width: 100%;
        padding: .5rem 4%;
        background: rgba(0,0,0,.5);
        backdrop-filter: blur(50px);
        border-top: 2px solid white;
        display: none;
    }

   

    .navbar a {
        display: none;
        display: flex;
        padding: 10px 20px;
	    margin: 5px 0;
    }
}


/*Description Page Start*/
.Description{
    border: 3px solid white;
    padding: 10px;
 }

 .notice{
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
    color: white;
 }
 p{
    color: white;
 }
 ol{
    padding-left: 20px;
	color: white;
 }

 ol li a{
	text-decoration: none;
	color: white;
 }

.vid{
    border: 3px solid white;
    width:400px;
    height: 200px;
    justify-content: space-between;
}

 /*Description Page End*/



 .mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 30px;
    padding: 8px 12px;
    position: absolute;
    bottom: 50px;
    width: 100%;
    font-weight: bold;
    text-align: center;
    background-color: transparent;
  }

 /* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 600px) {
    .text {font-size: 13px}
  }


/*Footer*/

.Footer{
    width: 100%;
    bottom: 0;
    background-color: black;
    color: white;
    padding: 100px 0 30px;
    border-top-left-radius: 125px;
    font-size: 13px;
    line-height: 20px;
 }

.row{
	width: 85%;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-between;
	background: transparent;
}

.col{
	flex-basis: 25px;
	padding: 10px;
	background: transparent;
}

.col h3{
	width: 100px;
	margin-bottom: 20px;
	position: relative;
	background: transparent;
	margin-left: 50px;
	margin-right: 50px;
	text-align: center;
}

.link{
	background: transparent;
}

ol li{
	margin-bottom: 12px;
	background: transparent;
}

 .link li a{
	text-decoration: none;
	color: white;
	background: transparent;
}
ul li{
    list-style: none;
}

 .footer_form{
	padding-bottom: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid white;
	margin-bottom: 50px;
	margin-left: 50px;
	margin-right: 50px;
	background: transparent;
}

 .footer_form .fa-regular{
	font-size: 18px;
	margin-right: 10px;
	background: transparent;
}

 .footer_form input{
	outline: none;
	background: transparent;
	color: white;
	border: 0;
}

.btn{
	width:100%;
	height:45px;
	background:none;
	border-color: white;
	border-radius:10px;
	cursor:pointer;
	font-size:1em;
	color:White;
	font-weight:500;
}

.btn:hover{
	background:White;
	color:black;
	border:none;
}

.fa-brands{
	background: transparent;
	cursor: pointer;
	margin-right: 20px;
	margin-left: 20px;
	padding-left: 1px;
	font-size: 40px;
}

.fa-brands:hover{
	background: crimson;
	border-radius:5px;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 5px;
	padding-right: 5px;
}

/*underline*/
.underline{
width: 100%;
height: 5px;
background-color: #767676;
border-radius: 3px;
position: absolute;
top: 25px;
left: 0;
overflow: hidden;
}

.underline span{
    width: 15px;
    height: 100%;
    background: white;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;
}
@keyframes moving{
    0%{
        left: -20px;
    }
    100%{
        left: 100%;
    }
}


@media (max-width:700px) {
    .Footer{
        bottom: unset;
    }

    .col{
        flex-basis: 100%;
    }
}

hr{
    width: 90%;
    border: 0;
    border-bottom: 3px solid white;
    margin: 20px auto;
}

.copyright{
    text-align: center;
    color: white;
}


/*Login And Registration Page Start*/

.wrapper{
	position:relative;
	width:400px;
	height:600px;
	background:transparent;
	border:2px solid rgba(255,255,255, .5);
	border-radius:20px;
	backdrop-filter: blur(20px);
	box-shadow:0 0 30px rgba(0,0,0, .5);
	display:flex;
	justify-content:center;
}

.wrapper .form-box{
	width:100%;
	padding:40px;
}

.form-box h2{
	font-size:2em;
	color:White;
	text-align:center;
}

.input-box{
	position:relative;
	width:100%;
	height:35px;
	border-bottom:2px solid White;
	margin:50px 0;
}
section{
    align-items: center;
}

.input-box label{
	position:left;
	top:15%;
	font-size:1em;
	color:White;
	font-weight:500px;
	pointer-events: none;
}

.input-box input{
	width:65%;
	height:80%;
	color:White;
	border-color:White;
	border-radius:10px;
	outline: none;
	background-color: red;
	
}

.remember-forgot{
	font-size: .9em;
	font-weight:500px;
	color: white;
	margin:-15px 0 15px;
	display:flex;
	justify-content:space-between;
}

.remember-forgot label input{
	accent-color: black;
	margin-right:3px;
}
.remember-forgot a{
	color:White;
	text-decoration:none;
	cursor:pointer;
}
.remember-forgot a:hover{
	text-decoration:underline;
}

.btn{
	width:100%;
	height:45px;
	background:none;
	border-color: white;
	border-radius:10px;
	cursor:pointer;
	font-size:1em;
	color:White;
	font-weight:500;
}

.btn:hover{
	background:White;
	color:black;
	border:none;
}

.login-register{
	font-size:.9em;
	color:White;
	text-align:center;
	font-weight:500;
	margin:25px 0 10px;
}

.login-register p a{
	color:White;
	text-decoration:none;
	font-weight:500;
	cursor:pointer;
}

.login-register p a:hover{
	text-decoration:underline;
}

/*Login And Registration Page End*/